.login-container{
    width: 50%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    position:absolute;
    top:15%;
    left: 15%;
    background-color:  #D5D5D5;
}
.info
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    left: 1.5em;
    position: relative;
    left: 0em;
    width: 30%;
    background-color: #CE1010;
}

.pic
{
  position: absolute;
  display: block;
  margin-left: 25em;
  margin-top: 5em;
  background-color: #D5D5D5;
}
.cam-btn{
    position:absolute;
    top: 24em;
    left: 26em;
}
.email-class{
    position: absolute;
    right: -4.5em;
    bottom: 7em;
    width: 180px;
    height: 40px;
    background: linear-gradient(
        0deg,
        rgba(27, 58, 92, 0.08),
        rgba(27, 58, 92, 0.08)
      ),
      #ffffff;
    border: none;
    border-radius: 1em;
}


.view-all1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    /* width: 102px;
    height: 56px; */
    height: 45px;
    width: 102px;
    margin: 15px;
    background: #254977;
    border-radius: 100px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .view-all1 > button {
    text-decoration: none;
    background: #254977;
    overflow: none;
    border: none;
  }
  .view-all-container1 {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .sub-btn{
    position:absolute;
    left: 6em;
  }